header nav {
   padding: 0.3rem 0.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   // border: 1px solid #000;

   ul{
      display: flex;
      align-items: center;
      gap:1rem;
   }
}

header {
   border-bottom: 2px solid var(--black);
   box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

main{
   width: min(1280px,100%);
   margin: 0 auto;
   margin-top: 2rem;
   h1{
      text-align: center;
      font-size: 2rem;
   }
}

footer{
   text-align: center;
   padding: 0.3rem 0.5rem;
   border: 1px solid #000;
}