header nav {
   padding: 0.3rem 0.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #000;

   ul{
      display: flex;
      align-items: center;
      gap:1rem;
   }
}

main{
   width: min(1280px,100%);
   margin: 0 auto;
}

footer{
   text-align: center;
   padding: 0.3rem 0.5rem;
   border: 1px solid #000;
}